<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="false"
>
	<testsuites>
		<testsuite name="Unit">
			<directory>tests/Unit</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory>tests/Integration</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">includes</directory>
		</whitelist>
	</filter>
</phpunit>
